"is in required_capabilities" != "all members support it"

The proposal sais:

> When an MLS group contains the AppDataUpdate proposal type in the proposal_types list in the group's required_capabilities extension, [...]. In other words, when every member of the group supports the AppDataUpdate proposal, [...].

Every member supporting a proposal type is a strict requirement for the proposal type being in the required capabilities, but it is not equivalent.

From Section 11.1 of RFC 9420:

>The configuration of a group imposes certain requirements on clients in the group. At a minimum, all members of the group need to support the cipher suite and protocol version in use. Additional requirements can be imposed by including a required_capabilities extension in the GroupContext.
>
>```
>struct {
>    ExtensionType extension_types<V>;
>    ProposalType proposal_types<V>;
>    CredentialType credential_types<V>;
>} RequiredCapabilities;
>```
>This extension lists the extensions, proposals, and credential types that must be supported by all members of the group. The "default" proposal and extension types defined in this document are assumed to be implemented by all clients, and need not be listed in RequiredCapabilities in order to be safely used. Note that this is not true for credential types.


From Section 13.2 of RFC 9420:

>As discussed in [Section 12.4](https://www.rfc-editor.org/rfc/rfc9420.html#commit), Proposals with a non-default proposal type MUST NOT be included in a commit unless the proposal type is supported by all the members of the group that will process the Commit.

From Section 13.4 of RFC 9420:

> A client adding a new member to a group MUST verify that the LeafNode for the new member is compatible with the group's extensions. The capabilities field MUST indicate support for each extension in the GroupContext.
A client joining a group MUST verify that it supports every extension in the GroupContext for the group. Otherwise, it MUST treat the enclosing GroupInfo message as invalid and not join the group.
Note that the latter two requirements mean that all MLS GroupContext extensions are mandatory, in the sense that an extension in use by the group MUST be supported by all members of the group.

I think the spirit and intent of these sentences is crystal clear. The wording in Section 11.1 could certainly be improved, but the intention is obvious.

The title of this issue is simply wrong. If a proposal is present in the `GroupContext.required_capabilities.proposal_types` it MUST be supported by every current member. I propose closing this Issue.

Sorry, I should have been more explicit.

It is true that "is in required capabilities" IMPLIES "all members support". However, it is very possible that all members support something, but it is not marked as required in the group context. Therefore, these two phrases can not be used interchangeably, and these are not the same statement "In other words".